/*_____________________ body and html styles __________________________ */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
}

/* Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/* ********************** Nav Bar ****************************** */
nav{
    display: flex;
    /* background-image: url('/assets/ddassets/navbar.png'); */
    background: whitesmoke;
    /* border: 15px solid whitesmoke; */
    height: 130px;
    width: 100%;
    padding: 10px 0px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    z-index: 100;
    position: sticky;
    top: 0;
}
.navContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.nav-logo {
    margin: 2px;
    height: 75px;
    margin: 0 auto;
    /* padding-top: 5px; */
}

.nav-logo img {
    height: 100%;
    width: auto;
}


.navImage {
    display: flex;
}
/* .navClock{
    height: 5px;
} */
#clock{
    margin-top: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 20px; */
    font-weight: light;
    height: 100%;
}
@media only screen and (max-width: 600px){
    #clock{
        font-size: 12px !important;
    }
    .navImg{
        width: auto;
    }

}
/* ********************** Hero w/ logo ****************************** */
.hero{
    /* margin-top: 110px; */
    height: 510px;
    background-image: url('ddassets/landing.png');
    border-right: 15px solid  whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    display: flex;
  }
  @media only screen and (max-width: 600px){
      .hero{
          height: 300px;
      }
  }
#hero-logo{
    margin: auto;
    width:80%;
}
/* ********************** search section ****************************** */
.serch-section{
    background-image: url("ddassets/light-landscape-nature-red-33041.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-right: 15px solid  whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    text-align: center;
    padding: 0 20px;/assets/ddassets/landing.png
    /* background-color: chartreuse; */
}
.serch-container{
    margin: auto;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 30px;
    color: white;
}
h3{
    font-size: 30px;
}
h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 25px 0;
    color: white;
}
#mainSub {
    text-shadow: black 1px 2px;
}
#descSub {
    text-shadow: black 1px 2px;
}
input{
    color: white !important;
    background-color:#41cbcc !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 25px !important;
    text-align: center !important;
    width: 35% !important;
    height: 40px !important;
    border: none !important;
    border-radius: 3px !important;
}
@media only screen and (max-width: 600px){
    input{
        width: 95% !important;
    }
    button{
        width: 95% !important;
    }
}
::placeholder {
    color:white;
    opacity: 1;
    text-align: center;
  }
button{
    color: white;
    background-color: #41cbcc;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width: 35%;
    height: 40px;
    border-radius: 3px;
    border: none;
}
input:hover {
    background-color: darkgrey !important;
}
button:hover{
    background-color: darkgrey;
}
#searchError {
    background-color: rgba(255, 0, 0, 0.575);
    padding: 3px;
    color: white;
    border-radius: 3px;
    width: 35%;
    margin: 10px auto 10px auto;
}
/* ********************LOCATION SECTION************************************ */
.location {
    background-image: url("ddassets/aerial-view-of-seashore-near-large-grey-rocks-853199.jpg");
    background-position: center;
    background-size: cover;
    background-color: whitesmoke;
    height: auto;
    display: flex;
    flex-direction: column;
    border-right: 15px solid whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    text-align: center;
    padding-bottom: 30px;
}
.locName {
    color: white;
    font-weight: bold;
    font-size: x-large;
}
#locationText {
    color: white;
    text-shadow: black 1px 2px;
}
.introText {
    color: white;
    font-weight: bold;
    font-size: large;
    
}

.attSnippet1{
    font-size: 18px;
}
.attSnippet2{
    font-size: 18px;
}
.attractions{
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 2px solid white;

}
.locContainer{
    height: 100%;
    /* display: flex; */
    background-color: #000000cc;
    padding: 30px 0;
}

.intro{
    text-align: initial;
    width: 40%;
    /* margin: auto; */
}

.locName{
    margin-bottom: 15px;
}
.intro h3 {
    font-size: 30px;
    color: white;
}
.intro p {
    color: white;
}
.imageSpot{
    height: 100%;
    width: 40% ;
    /* margin: auto; */
    /* display: flex; */
}
.getImage{
    width: 100%;
    /* margin: auto; */
}
@media only screen and (max-width: 600px){
    .intro{
        /* margin: auto; */
        width: 95%;
    }
    .imageSpot{
        margin-top: 20px;
        height: auto;
        width: 100% ;
       
    }
}
/******************************* WEATHER SECTION ****************************/
.weather {
    background-image: url("ddassets/time-lapse-photography-of-waterfalls-during-sunset-210186.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 15px solid whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    text-align: center      
}
#weatherText {
    color: white;
    text-shadow: black 1px 2px;
}
#weatherContainer {
    height: 60%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.weatherBoxs{
    margin: 0 0 15px 0 !important;
    background-color: #51d1cfd8;
    height: 100%;
    width: 18%;
    border-radius: 3px;
    padding: 10px !important;
    
}
.weatherBoxs p{
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}

.changeMeDate {
    font-size: 15px;
    color: black;
    font-weight: 450;
    margin: 10px
}
.changeMe1 {
    font-size: 15px;
    color: black;
    text-align: left;
}
.row:after{
    content: none;
}

/* ********************** footer ****************************** */
footer{
    height: 110px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;   
}
.footer-logo{
    margin: auto;
}
.foot-logo{
    height: 75px;
}
/* ********************** mobile ****************************** */