/*_____________________ body and html styles __________________________ */
body{

}
html{

}
/* Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* ********************** Nav Bar ****************************** */
nav{
    display: flex;
    background-image: url('/assets/ddassets/navbar.png');
    border: 15px solid whitesmoke;
    height: 110px;
    width: auto;
}
.nav-logo{
    margin: auto;
}
/* ********************** Hero w/ logo ****************************** */
.hero{
    /* margin-top: 110px; */
    height: 510px;
    background-image: url('/assets/ddassets/landing.png');
    border-right: 15px solid  whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    display: flex;
  }
#hero-logo{
    margin: auto;
    width:80%;
}

/* ********************** search section ****************************** */
.serch-section{
    background-image: url("/assets/ddassets/light-landscape-nature-red-33041.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-right: 15px solid  whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    text-align: center;
    /* background-color: chartreuse; */
}
.serch-container{
    margin: auto;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 30px;
    color: white;
}
h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 30px;
    color: white;
}
input{
    color: white;
    background-color:#41cbcc;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    width: 35%;
    height: 40px;
    border: none;
    border-radius: 3px;
}
::placeholder {
    color:white;
    opacity: 1;
    text-align: center;

  }
button{
    color: white;
    background-color: #41cbcc;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width: 35%;
    height: 40px;
    border-radius: 3px;
    border: none;
}

input:hover {
    background-color: darkgrey;
}

button:hover{
    background-color: darkgrey;
}

/* ********************LOCATION SECTION************************************ */

.location {
    background-image: url("/assets/ddassets/beach-calm-clouds-idyllic-457882.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    text-align: center;
=======
    border-right: 15px solid  whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    text-align: center   
}

#locationText {
    color: white;
>>>>>>> e11e3b480fd15d864c3082aea78524526b31ba46
}


/******************************* WEATHER SECTION ****************************/
.weather {
    background-image: url("/assets/ddassets/time-lapse-photography-of-waterfalls-during-sunset-210186.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-right: 15px solid whitesmoke;
    border-left: 15px solid  whitesmoke;
    border-bottom: 15px solid whitesmoke;
    text-align: center      
}

#weatherText {
    color: white;
}

#clock{
    width: 350px;
    height: 100px;
    margin: auto;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;

/* ********************** appended items when user clicks ****************************** */



/* ********************** footer ****************************** */
footer{
    height: 110px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.footer-logo{
    margin: auto;
    
}
.foot-logo{
    height: 75px;
}

/* ********************** mobile ****************************** */
