/*_____________________ body and html styles __________________________ */
body{

}
html{

}
/* Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* ********************** Nav Bar ****************************** */
nav{
    display: flex;
    background-image: url('/assets/ddassets/navbar.png');
    border-bottom: 3px solid black;
    height: 110px;
    width:100%;
}
.nav-logo{
    margin: auto;
}
/* ********************** Hero w/ logo ****************************** */
.hero{
    /* margin-top: 110px; */
    height: 510px;
    background-image: url('/assets/ddassets/landing.png');
    display: flex;
  }
#hero-logo{
    margin: auto;
    width:80%;
}

/* ********************** search section ****************************** */
.serch-section{
    background-image: url("/assets/ddassets/daylight-environment-forest-idyllic-459225.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: chartreuse; */
}
.serch-container{
    margin: auto;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 30px;
}
h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 30px;
}
input{
    color: white;
    background-color:#41cbcc;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    width: 35%;
    height: 40px;
    border: none;
    border-radius: 3px;
}
::placeholder {
    color:white;
    opacity: 1;
    text-align: center;

  }
button{
    color: white;
    background-color: #41cbcc;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width: 35%;
    height: 40px;
    border-radius: 3px;
    border: none;
}

input:hover {
    background-color: darkgrey;
}

button:hover{
    background-color: darkgrey;
}

.location {
    background-image: url("/assets/ddassets/beach-calm-clouds-idyllic-457882.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center 
}
/******************************* WEATHER SECTION ****************************/
.weather {
    background-image: url("/assets/ddassets/time-lapse-photography-of-waterfalls-during-sunset-210186.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center      
}

/* ********************** appended items when user clicks ****************************** */



/* ********************** footer ****************************** */
footer{
    height: 110px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}
.footer-logo{
    margin: auto;
    
}
.foot-logo{
    height: 75px;
}

/* ********************** mobile ****************************** */
